@media (max-width: 768px) {
  /* スマホ用 */
  h1 {
    font-size: 1.8rem; 
    margin-bottom: 1em;
  }

  .book-article h2 {
    font-size: 1.6rem;
    margin-bottom: 1em;
  }

  .book-article  h3 {
    font-size: 1.2rem;
    margin-bottom: 1em;
  }

  .book-header {
    font-size: 0.9rem;
  }

  .markdown p {
    font-size: 1rem;
    margin-block-end: 2em;
  }
}

@media (min-width: 1024px) {
  /* PC用 */
  h1 {
    font-size: 3rem; 
    margin-bottom: 1em;
  }

  .book-article h2 {
    font-size: 2.5rem;
    margin-bottom: 1em;
  }

  .book-article  h3 {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }

  .book-header {
    font-size: 1.3rem;
  }

  .markdown p {
    font-size: 1.1rem;
    margin-block-end: 2em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a.anchor {
    opacity: 0;
    font-size: 0.75em;
    margin-inline-start: .25em;
  }

  &:hover a.anchor, a.anchor:focus-visible {
    opacity: initial;
    text-decoration: none;
  }
}


h2.book-brand {
  font-size: 1.5rem;
}

.book-menu-content {
  font-size: 1rem;
}

.book-footer {
  font-size: 1rem;
}

.book-toc {
  font-size: 0.9rem;
}